<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Les professeurs</h4>
        <p class="card-title-desc"></p>
        <table class="table table-bordered  mt-2" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
          <tr>
            <th>Id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>specialite</th>
            <th>grade</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let professeur of professeurs ">
            <td>{{professeur.id}}</td>
            <td>{{professeur.nom}}</td>
            <td>{{professeur.prenom}}</td>
            <td>{{professeur.specialite}}</td>
            <td>{{professeur.grade}}</td>
            <td>
              <button type="button" class="btn btn-success btn-sm waves-effect waves-light"
                      (click)="editerProfesseur(professeur)">
                <i class="mdi mdi-pencil-outline"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"
                      (click)="supprimerProfesseur(professeur)">
                <i class="mdi mdi-trash-can-outline"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- end col -->

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter professeurs</h4>
        <form #addClasseFrom="ngForm">
          <div *ngIf="valideReq" class="alert alert-danger" role="alert">
            Le champs est obligatoire
          </div>
          <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" name="nom" [(ngModel)]="nom" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Prenom</label>
            <input type="text" class="form-control" name="prenom" [(ngModel)]="prenom" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Specialite</label>
            <input type="text" class="form-control" name="specialite" [(ngModel)]="specialite" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Grade</label>
            <input type="text" class="form-control" name="grade" [(ngModel)]="grade" required>
          </div>


          <div>
            <div>
              <button type="submit" [disabled]="! addClasseFrom.form.valid" (click)="ajouterProfesseur()"
                      name="btn_save"
                      class="btn btn-primary waves-effect waves-light me-1">
                Ajouter
              </button>
              <button type="button" (click)="annuler()" class="btn btn-secondary waves-effect">
                Annuler
              </button>
            </div>
          </div>
        </form>


      </div>
    </div>

  </div>
</div> <!-- end row -->
