<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Les salles</h4>
        <p class="card-title-desc"></p>
        <table class="table table-bordered  mt-2" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Numero</th>
            <th>Nombre Place</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let salle of salles ">
            <td>{{salle.id}}</td>
            <td>{{salle.nom}}</td>
            <td>{{salle.numero}}</td>
            <td>{{salle.nombrePlaces}}</td>
            <td>
              <button type="button" class="btn btn-success btn-sm waves-effect waves-light" (click)="editerSalle(salle)">
                <i class="mdi mdi-pencil-outline"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" (click)="supprimerSalle(salle)">
                <i class="mdi mdi-trash-can-outline"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- end col -->

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter salles</h4>
        <form #addSalleFrom="ngForm">
          <div *ngIf="valideReq" class="alert alert-danger" role="alert">
            Le champs est obligatoire
          </div>
          <div class="mb-3">
            <label class="form-label">Libelle</label>
            <input type="text" class="form-control" name="nom" [(ngModel)]="nom" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Numero</label>
            <input type="text" class="form-control" name="numero" [(ngModel)]="numero" required>
          </div>


          <div class="mb-3">
            <label class="form-label">Nombre Place</label>
            <input type="text" class="form-control" name="nombre_places" [(ngModel)]="nombre_places" required>
          </div>


          <div>
            <div>
              <button type="submit" [disabled]="! addSalleFrom.form.valid" (click)="ajouterSalle()" name="btn_save"
                      class="btn btn-primary waves-effect waves-light me-1">
                Ajouter
              </button>
              <button type="button" (click)="annuler()" class="btn btn-secondary waves-effect">
                Annuler
              </button>
            </div>
          </div>
        </form>


      </div>
    </div>

  </div>
</div> <!-- end row -->
