<!-- Begin page -->
<div id="layout-wrapper">

  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <app-footer></app-footer>
  </div>
  <!-- end main content-->

</div>

