<div class="vertical-menu">

  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
      <span class="logo-lg">
                            <img src="assets/images/logo-dark.png" alt="" height="20">
                        </span>
    </a>

    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
      <span class="logo-lg">
                            <img src="assets/images/logo-light.png" alt="" height="20">
                        </span>
    </a>
  </div>

  <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <div data-simplebar class="sidebar-menu-scroll">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a href="/gestion" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Statistiques</span>
          </a>
        </li>

        <li>
          <a href="/gestion/annee-scolaire" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Annee Scolaire</span>
          </a>
        </li>

        <li>
          <a href="/gestion/classes" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Classe</span>
          </a>
        </li>

        <li>
          <a href="/gestion/professeurs" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Pofesseurs</span>
          </a>
        </li>



        <li>
          <a href="/gestion/salles" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Salles</span>
          </a>
        </li>
        <li>
          <a href="/gestion/semestres" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Semestres</span>
          </a>
        </li>

        <li>
          <a href="/gestion/modules" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Modules</span>
          </a>
        </li>
        <li>
          <a href="/gestion/cours" class="waves-effect">
            <i class="uil-dashboard"></i>
            <span>Cours</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
