<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Les Annees scolaires</h4>
        <p class="card-title-desc"></p>

        <table class="table table-bordered  mt-2" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
          <tr>
            <th>Id</th>
            <th>Annee</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let annee of anneeScolaires ">
            <td>{{annee.id}}</td>
            <td>{{annee.annee}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- end col -->

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter annee Scolaire</h4>
        <form #addAnneeFrom="ngForm">
          <div *ngIf="valideReq" class="alert alert-danger" role="alert">
            Le champs est obligatoire
          </div>
          <div class="mb-3">
            <label class="form-label">Annee</label>
            <input type="text" class="form-control" name="annee" [(ngModel)]="annee" required>
          </div>
          <div>
            <div>
              <button type="submit" [disabled]="! addAnneeFrom.form.valid" (click)="ajouterAnnee()" name="btn_save"
                      class="btn btn-primary waves-effect waves-light me-1">
                Ajouter
              </button>
              <button type="button" (click)="annuler()" class="btn btn-secondary waves-effect">
                Annuler
              </button>
            </div>
          </div>
        </form>


      </div>
    </div>

  </div>
</div> <!-- end row -->
